<footer class="site-footer" id="footer">
  <div class="container footer-content">
    <div class="footer-contact">
      <p class="social">
        <a href="https://www.cs.cit.tum.de/en/seai/homepage/" target="_blank" rel="noopener"><i class="fa fa-twitter" aria-hidden="true"></i> @SEAI_TUM</a>
      </p>
      <p class="social">
        <i class="fa fa-envelope" aria-hidden="true"></i> https://www.cs.cit.tum.de/en/seai/homepage/
      </p>
    </div>
    <p class="footer-copyright"><small>&copy; LLM Software Development Winter School</small></p>
  </div>
</footer>
