            <div class="section text-gray" id="footer">
                <div class="container">

                    <div class="row">

                        <div class="col-sm-4">

                            <p class="social">
                                <a href="https://www.cs.cit.tum.de/en/seai/homepage/" data-animate-hover="shake" data-animate="fadeInUp" target="_blank"><i class="fa fa-twitter"></i> @SEAI_TUM</a>
                            </p>
                            <p class="social">
                                <i class="fa fa-envelope"></i> https://www.cs.cit.tum.de/en/seai/homepage/</a>
                            </p>
                        </div>
                      
                        <div class="col-sm-8">
                            <p><small>&copy; LLM Software Development Winter School</small></p>
                        </div>

                    </div>

                </div>
            </div>
